'.text.html':
  'oui-navbar-simple':
    'prefix': 'oui-navbar-simple'
    'body': """
      <oui-navbar
          brand="$ctrl.${1:brand}"
          active-link="${2:lorem}"
          main-links="$ctrl.${3:mainLinks}"
          aside-links="$ctrl.${4:asideLinks}"
          toggler-links="$ctrl.${5:togglerLinks}"
          fixed>
      </oui-navbar>
    """
    'description': 'oui-navbar-simple'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/legacy-components-navbar-webcomponent--simple'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
