'.source.html':
  'oui-calendar':
    'prefix': 'oui-calendar'
    'body': """
      <oui-calendar
          id="${1:foo}"
          name="${2:bar}"
          data-model="$ctrl.${3:defaultModel}"
          placeholder="${4:YYYY-MM-DD}">
      </oui-calendar>
    """
    'description': 'oui-calendar'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-angular/blob/master/packages/oui-calendar/README.md'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit</span>'
