'.text.html':
  'oui-clipboard':
    'prefix': 'oui-clipboard'
    'body': """
      <oui-clipboard model="$ctrl.${1:model}"></oui-clipboard>
    """
    'description': 'oui-clipboard'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-clipboard-webcomponent--default'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
