'.source.html':
  'oui-back-button':
    'prefix': 'oui-back-button'
    'body': """

      <oui-back-button
          href="${1}"
          aria-label="${2:Aria label for heading}"
          data-on-click="$ctrl.${3:onClick()}">
          {{ $ctrl.${4:text} }}
      </oui-back-button>
    """
    'description': 'oui-back-button'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/back-button'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit <small>component</small></span>'
