'.source.html':
  'oui-checkbox':
    'prefix': 'oui-checkbox'
    'body': """
      <oui-checkbox
          aria-label="${1:Allow ponies in your server}"
          data-model="$ctrl.${2:model2}"
          data-on-change="$ctrl.${3:onChange(modelValue)}">
          ${4:Allow ponies in your server}
      </oui-checkbox>
    """
    'description': 'oui-checkbox'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/checkbox'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
