'.source.html':
  'oui-spinner':
    'prefix': 'oui-spinner'
    'body': """
      <oui-spinner></oui-spinner>
    """
    'description': 'oui-spinner'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/spinner'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
