'.source.html':
  'oui-navbar':
    'prefix': 'oui-navbar'
    'body': """
      <oui-navbar
          data-brand="$ctrl.${1:brand}"
          data-active-link="${2:lorem}"
          data-main-links="$ctrl.${3:mainLinks}"
          data-aside-links="$ctrl.${4:asideLinks}"
          data-toggler-links="$ctrl.${5:togglerLinks}">
      </oui-navbar>
    """
    'description': 'oui-navbar'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/navbar'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
