'.source.html':
  'oui-textarea':
    'prefix': 'oui-textarea'
    'body': """
      <oui-textarea
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          data-on-change="$ctrl.${3:onChange(modelValue)}"
          placeholder="${4:Please insert your text…}"
          readonly="$ctrl.${5:readonly}"
          rows="${6:7}">
      </oui-textarea>
    """
    'description': 'oui-textarea'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/textarea'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
