'.source.html':
  'oui-message':
    'prefix': 'oui-message'
    'body': """
      <oui-message data-type="${1:info}">${2:Message}</oui-message>
    """
    'description': 'oui-message'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/message'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
