'.source.html':
  'oui-skeleton':
    'prefix': 'oui-skeleton'
    'body': """
      <oui-skeleton data-size="auto"></oui-skeleton>
    """
    'description': 'oui-skeleton'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-angular/blob/master/packages/oui-skeleton/README.md'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit</span>'
