'.source.html':
  'oui-timepicker':
    'prefix': 'oui-timepicker'
    'body': """
      <oui-timepicker
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          data-on-change="$ctrl.${3:onChange(modelValue)}"
          data-on-close="$ctrl.${4:onClose(modelValue)}"
          data-on-open="$ctrl.${5:onOpen(modelValue)}"
          placeholder="${6:HH:MM}">
      </oui-timepicker>
    """
    'description': 'oui-timepicker'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/timepicker'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
