'.text.html':
  'oui-file':
    'prefix': 'oui-file'
    'body': """
      <oui-file
          disabled="$ctrl.${1:disabled}"
          placeholder="${2:Select a file…}"
          model="$ctrl.${3:model}">
      </oui-file>
    """
    'description': 'oui-file'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-file-webcomponent--default'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
