'.source.html':
  'oui-search':
    'prefix': 'oui-search'
    'body': """
      <oui-search
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          data-on-change="$ctrl.${3:onChange(modelValue)}"
          data-on-reset="$ctrl.${4:onReset()}"
          data-on-submit="$ctrl.${5:onSubmit(modelValue)}"
          placeholder="${6:Placeholder example}">
      </oui-search>
    """
    'description': 'oui-search'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/search'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit <small>component</small></span>'
