'.source.html':
  'oui-autocomplete':
    'prefix': 'oui-autocomplete'
    'body': """
      <input
          type="text"
          class="oui-input oui-input_inline"
          placeholder="${1:Search country name}"
          data-ng-model="$ctrl.${2:model}"
          data-oui-autocomplete="$ctrl.${3:suggestions}"
          data-oui-autocomplete-on-select="$ctrl.${4:onAutocomplete(value)}">
    """
    'description': 'oui-autocomplete'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/autocomplete'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>directive</small></span>'
