'.text.html':
  'oui-switch':
    'prefix': 'oui-switch'
    'body': """
      <oui-switch
          disabled="$ctrl.${1:disabled}"
          model="$ctrl.${2:checked}"
          on-change="$ctrl.${3:onChange(modelValue)}">
      </oui-switch>
    """
    'description': 'oui-switch'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-switch-webcomponent--default'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
