'.text.html':
  'oui-pagination':
    'prefix': 'oui-pagination'
    'body': """
      <oui-pagination
          current-offset="${1:1}"
          total-items="${2:100}">
      </oui-pagination>
    """
    'description': 'oui-pagination'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-pagination-webcomponent--default'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
