'.source.html':
  'oui-pagination':
    'prefix': 'oui-pagination'
    'body': """
      <oui-pagination
          data-current-offset="$ctrl.${1:pagination.offset}"
          data-total-items="$ctrl.${2:pagination.totalItems}"
          data-on-change="$ctrl.onChange(${3:'pagination', $event})">
      </oui-pagination>
    """
    'description': 'oui-pagination'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-angular/blob/master/packages/oui-pagination/README.md'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit</span>'
