'.source.html':
  'oui-criteria':
    'prefix': 'oui-criteria'
    'body': """
      <oui-criteria
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          data-on-change="$ctrl.${3:onChange(modelValue)}"
          data-properties="$ctrl.${4:properties}">
      </oui-criteria>
    """
    'description': 'oui-criteria'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/criteria'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>internal</small></span>'
