'.text.html':
  'oui-numeric':
    'prefix': 'oui-numeric'
    'body': """
      <oui-numeric
          model="$ctrl.${1:model}"
          disabled="$ctrl.${2:disabled}"
          on-change="$ctrl.${3:onChange(modelValue)}">
      </oui-numeric>
    """
    'description': 'oui-numeric'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-numeric-webcomponent--simple'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'

  'oui-numeric-limits':
    'prefix': 'oui-numeric-limits'
    'body': """
      <oui-numeric
          min="$ctrl.${1:min}"
          max="$ctrl.${2:max}"
          model="$ctrl.${3:model}"
          disabled="$ctrl.${4:disabled}"
          on-change="$ctrl.${5:onChange(modelValue)}">
      </oui-numeric>
    """
    'description': 'oui-numeric-limits'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-numeric-webcomponent--limits'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
