'.source.html':
  'oui-select':
    'prefix': 'oui-select'
    'body': """
      <oui-select
          data-name="${1:letter}"
          data-model="$ctrl.${2:modelBasicString}"
          placeholder="${3:Select a letter...}"
          data-items="${4:['a', 'b', 'c']}">
      </oui-select>
    """
    'description': 'oui-select'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-angular/blob/master/packages/oui-select/README.md'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit</span>'
