'.source.html':
  'oui-field':
    'prefix': 'oui-field'
    'body': """
      <oui-field
          data-label="${1:Lastname}"
          data-help-text="${2:At least 3 chars}"
          data-size="${3:xl}">
          <input
              class="oui-input"
              type="text"
              id="${4:lastname}"
              name="${4:lastname}"
              data-ng-model="$ctrl.${5:user.lastname}"
              required
              minlength="${6:3}"
              maxlength="${7:32}">
      </oui-field>
    """
    'description': 'oui-field'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/field'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
