'.source.html':
  'oui-radio':
    'prefix': 'oui-radio'
    'body': """
      <oui-radio
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          name="${3:oui-radio-1}"
          data-on-change="$ctrl.${4:onChange(modelValue)}"
          value="$ctrl.${5:value1}">
          ${6:Value A}
      </oui-radio>
    """
    'description': 'oui-radio'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/radio'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
