'.source.html':
  'oui-switch':
    'prefix': 'oui-switch'
    'body': """
      <oui-switch
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:checked}"
          data-on-change="$ctrl.${3:onChange(modelValue)}">
      </oui-switch>
    """
    'description': 'oui-switch'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/switch'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit <small>component</small></span>'
