'.source.html':
  'oui-progress':
    'prefix': 'oui-progress'
    'body': """
      <oui-progress>
          <oui-progress-bar
              data-type="${1:info}"
              value="$ctrl.${2:percentage}">
          </oui-progress-bar>
      </oui-progress>
    """
    'description': 'oui-progress'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/progress'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
