'.source.html':
  'oui-calendar':
    'prefix': 'oui-calendar'
    'body': """
      <oui-calendar
          disabled="$ctrl.${1:disabled}"
          data-model="$ctrl.${2:model}"
          data-on-change="$ctrl.${3:onChange(selectedDates, dateStr)}"
          data-on-close="$ctrl.${4:onClose(selectedDates, dateStr)}"
          data-on-open="$ctrl.${5:onOpen(selectedDates, dateStr)}"
          placeholder="${6:YYYY-MM-DD}">
      </oui-calendar>
    """
    'description': 'oui-calendar'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/calendar'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
