'.source.html':
  'oui-skeleton':
    'prefix': 'oui-skeleton'
    'body': """
      <oui-skeleton></oui-skeleton>
    """
    'description': 'oui-skeleton'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/skeleton'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
