'.source.html':
  'oui-numeric':
    'prefix': 'oui-numeric'
    'body': """
      <oui-numeric
          data-model="$ctrl.${1:model}"
          disabled="$ctrl.${2:disabled}"
          data-on-change="$ctrl.${3:onChange(modelValue)}">
      </oui-numeric>
    """
    'description': 'oui-numeric'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/numeric'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit <small>component</small></span>'
