'.source.html':
  'oui-chips':
    'prefix': 'oui-chips'
    'body': """
      <oui-chips data-items="$ctrl.${1:items}"></oui-chips>
    """
    'description': 'oui-chips'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/chips'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
