'.text.html':
  'oui-password':
    'prefix': 'oui-password'
    'body': """
      <oui-password
          disabled="$ctrl.${1:disabled}"
          model="$ctrl.${2:model}"
          placeholder="${3:Password}">
      </oui-password>
    """
    'description': 'oui-password'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/design-system-components-password-webcomponent--normal'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
