'.source.html':
  'oui-select':
    'prefix': 'oui-select'
    'body': """
      <oui-select
          disabled="$ctrl.${1:disabled}"
          data-items="${2:['a', 'b', 'c']}"
          data-model="$ctrl.${3:model}"
          name="${4:letter}"
          placeholder="{{ $ctrl.${5:placeholder} }}"
          data-on-blur="$ctrl.${6:onBlur()}"
          data-on-change="$ctrl.${7:onChange(modelValue)}"
          data-on-focus="$ctrl.${8:onFocus()}">
      </oui-select>
    """
    'description': 'oui-select'
    'descriptionMoreURL': 'https://github.com/ovh/ovh-ui-kit/tree/master/packages/components/select'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
