'.source.html':
  'oui-clipboard':
    'prefix': 'oui-clipboard'
    'body': """
      <oui-clipboard data-model="$ctrl.${2:model}"></oui-clipboard>
    """
    'description': 'oui-clipboard'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-kit/tree/master/packages/components/clipboard'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit <small>component</small></span>'
