'.source.html':
  'oui-numeric':
    'prefix': 'oui-numeric'
    'body': """
      <oui-numeric
          min="${1:2}"
          max="${2:8}"
          data-model="$ctrl.${3:size}">
      </oui-numeric>
    """
    'description': 'oui-numeric'
    'descriptionMoreURL': 'https://github.com/ovh-ux/ovh-ui-angular/blob/master/packages/oui-numeric/README.md'
    'rightLabelHTML': '<span style="color: #59d2ef; font-weight: bold;">OVH UI Kit</span>'
