'.text.html':
  'oui-select-picker':
    'prefix': 'oui-select-picker'
    'body': """
      <oui-select-picker
          disabled="$ctrl.${1:disabled}"
          name="${2:ouiSelectPicker1}"
          model="$ctrl.${3:model}"
          label="${4:Value A}"
          on-change="$ctrl.${5:onChange(modelValue)}"
          values="$ctrl.${6:values1}">
      </oui-select-picker>

      <oui-select-picker
          disabled="$ctrl.${1:disabled}"
          name="${2:ouiSelectPicker1}"
          model="$ctrl.${3:model}"
          label="${7:Value B}"
          on-change="$ctrl.${5:onChange(modelValue)}"
          values="$ctrl.${8:values2}">
      </oui-select-picker>

      <oui-select-picker
          disabled="$ctrl.${1:disabled}"
          name="${2:ouiSelectPicker1}"
          model="$ctrl.${3:model}"
          label="${9:Value C}"
          on-change="$ctrl.${5:onChange(modelValue)}"
          values="$ctrl.${10:values3}">
      </oui-select-picker>
    """
    'description': 'oui-select-picker'
    'descriptionMoreURL': 'https://ovh.github.io/ovh-ui-kit/?path=/story/legacy-components-select-picker-webcomponent--basic'
    'rightLabelHTML': '<span style="color: #4d5592; font-weight: bold;">OVHcloud UI Kit <small>component</small></span>'
